.main-wrapper {
    .col-sm-2 {
        width: 20% !important;
    }
    .main-platform {
        border-bottom: none;

        .nav-item {
            margin: 0 !important;
            padding: 0 10px;
        }
    }

    .main-platform {
        padding-top: 94px;

        background-size: 640px 476px;
        background-position: right bottom;
    }
    .main-platform-content .nav-tabs {
        border-bottom: none;
    }
    .main-platform-content .nav-tabs .nav-item {
        margin: 0 40px;
    }
    .main-platform-content .nav-tabs .nav-link {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: none;
        padding: 0 40px 19px 40px;
        line-height: 22px;
        position: relative;
        font-size: 20px;
        color: #152934;
    }
    .main-platform-content .nav-tabs .nav-link.active {
        font-weight: bold;
    }
    .tab-img-box {
        width: 46px;
        height: 46px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 19px;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    .tab-img-box img {
        width: 100%;
        height: auto;
    }
    .tab-circle-box {
        width: 70%;
        height: 2px;
        position: absolute;
        bottom: -50px;
        left: 27px;
        right: 0px;
        transition: all 0.3s;
    }

    .tab-progress {
        height: 2px;
        width: 100%;
        background-color: #e6e8eb;
        position: relative;
    }
    .progress-info {
        color: #000;
        text-align: center;
        font-weight: bold;
    }
    .tab-progress-bar {
        background-color: #e6e8eb;
        position: absolute;
        height: 2px;
    }
    .progress-1 {
        background-color: #9507b2 !important;
    }

    .main-platform-content .tab-pane {
        padding: 25px 50px 0 50px;
    }
    .main-platform-img {
        background-size: 100% auto;
        width: 472px;
        height: 638px;
        position: relative;
        overflow: hidden;
        float: right;
    }
    .main-platform-img img {
        width: 324px;
        height: auto;
        position: absolute;
        top: 85px;
        right: 41px;
        border-radius: 15px;
    }
    .main-platform-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .main-platform-info {
        width: 40%;
    }
    .main-platform-information {
        padding-top: 45px;
    }
    .main-platform-information h3 {
        font-size: 26px;
        color: #000000;
        line-height: 32px;
        margin-bottom: 12px;
    }
    .main-platform-information p {
        font-size: 16px;
        color: #646464;
        line-height: 26px;
        margin: 0;
    }
}
