#contact-us {
    padding: 70px 0;
    img {
        box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
    }

    .contact-us-bg {
        padding-top: 50px;
        padding-left: 30px;
        padding-right: 30px;
        box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
        border-radius: 10px;

        label {
            font-size: 18px;
            line-height: 21px;
        }

        .form-control {
            border: 1px solid #e0e0e0;
            box-sizing: border-box;
            border-radius: 15px;
        }

        p {
            color: #9507b2;
        }
    }
}
